<material-content ng-controller="AdminController">
  <h1>User Administration</h1>
  <h4>Angular Material Design implementation using Polymer Web Components</h4>
  <material-tabs selected="which" nobar nostretch zzz-class="special">

    <material-tab >
      <material-tab-label>Users</material-tab-label>
      <div class="whiteArea"
           ng-include="'views/Users.html'"></div>
    </material-tab>

    <material-tab>
      <material-tab-label>Groups</material-tab-label>
      <div class="whiteArea"
           ng-include="'views/Groups.html'"></div>
    </material-tab>

  </material-tabs>
</material-content>
