<div ng-controller="GroupsController">
  <material-list class="groups">
    <material-item class="group" ng-repeat="(gkey, group) in g.getGroups()">
      <div class="material-tile-left">
        <face>
          <button ng-hide="group.members.length > 0"
                  ng-click="g.deleteGroup(gkey)"
                  class="delete-button">
            x
          </button>
        </face>
      </div>
      <div class="material-tile-content">
        {{ group.name }}
      </div>
      <div class="material-tile-right">
        {{ group.members.length }} members
      </div>
    </material-item>
  </material-list>

  <div class="material-input-group">
    <label for="new-group-name">New group name</label>
    <input id="new-group-name"
           type="text"
           ng-model="newGroup.name">
    <button ng-disabled="!newGroup.name"
            ng-click="addGroup()"
            class="add-button">
      Add group
    </button>
  </div>
</div>
