<material-list ng-controller="UsersController"
     class="users">
  <material-item class="user" ng-repeat="user in users.getUsers()">
    <div class="material-tile-left">
      <face>
        <button ng-click="deleteUser(user)" class="deleteUserBtn">x</button>
      </face>
    </div>
    <div class="material-tile-content">
      User {{ user.name }}
    </div>
    <div class="material-tile-right">
      <span ng-repeat="group in user.memberOf">
        {{ group }}
      </span>
      ({{ user.memberOf.length }})
      <button ng-if="list.showGroups !== $index"
              ng-click="list.showGroups = $index"
              class="addGroupBtn">+</button>
      <span ng-if="list.showGroups === $index"
           class="group-buttons">
        <span ng-repeat="group in groups.getGroups()">
          <button ng-if="user.memberOf.indexOf(group.name) === -1"
                  ng-click="assignGroup(group, user)">
            {{ group.name }}
          </button>
        </span>
      </span>
    </div>
  </material-item>
</material-list>

<div class="material-input-group">
  <label for="new-user-name">New user name</label>
  <input id="new-user-name" type="text" ng-model="newUser.name">
  <button ng-disabled="!newUser.name" ng-click="addUser(newwUser)" class="addTabBtn" >Add user</button>
</div>
