<div ng-controller="UsersController">
  <material-list class="users">
    <material-item class="user" ng-repeat="(ukey, user) in u.getUsers()">
      <div class="material-tile-left">
        <face>
          <button ng-click="deleteUser(ukey)"
                  class="delete-button">
            x
          </button>
        </face>
      </div>
      <div class="material-tile-content">
        {{ user.name }}
        <div ng-if="list.showGroups === $index"
             class="group-buttons">
          <span ng-repeat="(gkey, group) in g.getGroups()">
            <button ng-if="!checkMember(gkey, user)"
                    ng-click="assignGroup(gkey, ukey)"
                    class="group-button">
              {{ group.name }}
            </button>
          </span>
        </div>
      </div>
      <div class="material-tile-right">
        <span ng-repeat="gkey in user.memberOf">
          {{ g.getGroup(gkey).name }}
        </span>
        ({{ user.memberOf.length }})
        <button ng-if="list.showGroups !== $index"
                ng-click="list.showGroups = $index"
                class="add-button">+</button>
      </div>
    </material-item>
  </material-list>

  <div class="material-input-group">
    <label for="new-user-name">New user name</label>
    <input id="new-user-name"
           type="text"
           ng-model="newUser.name">
    <button ng-disabled="!newUser.name"
            ng-click="addUser()"
            class="add-button">
      Add user
    </button>
  </div>
</div>